body {
  /* background-color: red; */
}

.project-filter-button-container > a {
  /* border: 1px solid red !important; */
  white-space: nowrap;
}

.project-filter-button-container > a {
  margin-right: 1rem;
}

.modal__content img {
  max-width: 100%;
}

.modal__content {
  display: flex;
  flex-direction: column;
}

#projectsContainer > div {
  cursor: pointer;
}
